.footer{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border-top-left-radius: 70%;
    border-top-right-radius: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &-title{
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
}