.notes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 40px;
    justify-content: center;
  
    &-img {
      width: 70px;
      height: 70px;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }
  
    &-element {
      background-color: white;
      padding: 20px;
      position: relative;
      max-width: 500px;
    }
  
    &-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-right: 40px;
      width: 75%;
    }
  
    &-text {
      width: 85%;
      margin-top: 20px;
    }
  }